#main-content {
    margin-bottom: 20px;
    h3.title-big,
    h1.title-big {
        margin-bottom: 10px;
        font-size: 24px;
        color: #fff;
        background: $mau1;
        padding: 8px 0 10px 15px;
        i {
            margin-right: 8px;
        }
    }
    form {
        input[type="text"],
        input[type="email"],
        textarea {
            background: #f2f2f2 none repeat scroll 0 0;
            border: 1px solid #444;
            color: #111;
            font-size: 13px;
            font-style: italic;
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
        }
        textarea {
            height: 120px;
            resize: none;
        }
        input[type="submit"] {
            background: $mau1 none repeat scroll 0 0;
            border: 1px solid $mau1;
            color: #fff;
            font-size: 18px;
            padding: 3px 30px;
            text-transform: uppercase;
        }
    }
    #content {
        padding-left: 20px;
        @import 'slider';
        @import 'hot-product';
        @import 'list-product';
        @import 'pagination';
        @import 'page_chitiet';
        @import 'page_single';
        @import 'page_category';
    }
    @import 'page_contact';
}